$main-font: "Poppins", sans-serif;
$about-font: "Cedarville Cursive", cursive;
$main-colour: #166ca9;
$secondary-colour: #85baa1;

@mixin section-divide {
  padding-bottom: 40px;
  border-bottom: 2px solid $secondary-colour;
}

@mixin section-heading {
  color: $secondary-colour;
  font-family: $main-font;
  display: block;
  font-size: 35px;
}
